{% extends 'base.html.twig' %}

{% block title %}{{ user.login }}{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">{{ user.login }}</h1>

    {% include "backoffice/fragments/_flash_message.html.twig" %}

    <table class="table table-hover">
        <tbody>
            <tr class="table-active">
                <th scope="col">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr class="table-active">
                <th scope="col">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="table-active">
                <th scope="col">Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {% if (user.picture != null) %}
            
                <tr class="table-active">
                    <th scope="col">Photo de profil</th>
                    <td><img src="{{ user.picture }}" height="150" width="150"></td>
                </tr>

            {% endif %}

            {% if (user.gamesDm != null) %}
                <tr class="table-active">
                    <th scope="col">Maître du jeu</th>
                    <td>
                    {% for gameDm in user.gamesDm %}
                        
                        Partie : {{gameDm.name}}
                        <a href="{{ path('app_backoffice_game_getGamesById', {'id': gameDm.id}) }}"><i class="bi bi-eye btn btn-sm btn-success rounded"></i></a>
                        <a href="{{ path('app_backoffice_game_editGames', {'id': gameDm.id}) }}"><i class="bi bi-pencil btn btn-sm btn-warning rounded"></i></a>
                        <br>

                    {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if (user.characters != null) %}
                {% for character in user.characters %}
                <tr class="table-active">
                    <th scope="col">Partie : {{character.game.name}}</th>
                        
                        <td>{{ character.name }}
                        {{ include('backoffice/character/_delete_form.html.twig') }}</td>

                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_user_getUsers') }}" class="btn btn-sm btn-outline-info mx-3">Retour à la liste</a>

    {# Edition of character not yet optimized #}
    {# <a href="{{ path('app_backoffice_user_editUsers', {'id': user.id}) }}" class="btn btn-sm btn-outline-warning mx-3">Modifier</a> #}
{% endblock %}