<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link
		href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap icons -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Our custom CSS -->
		<link rel="stylesheet" href="{{ asset('backoffice.css') }}">

		<title>
			{% block title %}O'Dicey - Backoffice
			{% endblock %}
		</title>
	</head>

	<body>

		<!-- Nav -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a href="{{path("app_backoffice_home")}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
					<span class="header-logo__title">O'Dicey</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% block nav %}
						{% if is_granted("IS_AUTHENTICATED_FULLY") %}
							<li class="nav-item">
								<a class="nav-link" href="{{path("app_backoffice_home")}}"> | Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("app_backoffice_user_getUsers")}}">
									<i class="bi bi-people"></i>
									Utilisateurs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("app_backoffice_game_getGames")}}">
									<i class="bi bi-dice-4"></i>
									Parties</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("app_backoffice_mode_getModes")}}">
									<i class="bi bi-controller"></i>
									Modes</a>
							</li>
							</ul>
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
										<!-- Bootstrap CSS -->
										<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
										<!-- Bootstrap icons -->
										<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

										<title>O'Dicey</title>
										<span>{{app.user.email}} | 
										<i class="bi bi-person-square"></i>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="http://bruno-meckler-server.eddi.cloud/">Frontoffice</a>
										</li>
										
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion Backoffice</a>
										</li>
									</ul>
								</li>
							</ul>
						{% else %}
							<li class="nav-item">
								<a class="nav-link text-grey" href="http://bruno-meckler-server.eddi.cloud/">
								 | Frontoffice</a>
							</li>
							</ul>
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
										<!-- Bootstrap CSS -->
										<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
										<!-- Bootstrap icons -->
										<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

										<title>O'Dicey</title>
										<span>Un visiteur! Venu d'ailleurs! | 
										<i class="bi bi-moon-stars"></i>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="{{ path('app_login') }}">Connexion Backoffice</a>
										</li>
									</ul>
								</li>
							</ul>
						{% endif %}
						{% endblock %}
				</div>
			</div>
		</nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="container-fluid py-4 border-top text-center">
            <span class="text-muted">O'Dicey made with &hearts; at O'clock !
                <br><small>Thème :<a href="" class="link-secondary text-decoration-none">
                        <i class="bi bi-toggle-on mx-1"></i>Roll20</a>
                </small>
            </a>
        </span>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</body>
</html>
